<included>
    <appender name="normal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}/notification-sms-jixinyun.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/notification-sms-jixinyun.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="normal"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="com.netflix" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="com.alibaba.nacos" level="ERROR" additivity="false"/>
    <logger name="com.baomidou.mybatisplus" level="ERROR"/>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.apache.ibatis" level="ERROR"/>
    <logger name="org.apache.http.impl.conn" level="ERROR"/>
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>

    <logger name="io.fabric8.kubernetes" level="ERROR"/>
    <logger name="com.twilio.http.TwilioRestClient" level="DEBUG"/>
</included>