<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60" debug="false">
    <property name="pattern"
              value="[%d{ISO8601}][%-5level][%X{traceId}][%t][%C{0}][notification-sms-jixinyun][%X{fromServiceName}] - %msg%n"/>

    <property name="logHome" value="${work.dir}/logs"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <include resource="logback-prod.xml"/>
</configuration>